@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  body {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
  }
  
  nav {
    max-width: 90%; /* Adjust max-width for smaller screens */
    font-size: 1.5rem; /* Decrease font size for smaller screens */
    line-height: 3rem; /* Decrease line height for smaller screens */
  }

  h2 {
    font-size: 1.8rem; /* Decrease font size for smaller screens */
  }

  li a::after {
    left: -15px; /* Adjust position for smaller screens */
  }

  li a::before {
    top: 40px; /* Adjust position for smaller screens */
    left: 20px; /* Adjust position for smaller screens */
  }

  li a:hover::after,
  li a:focus::after {
    top: -50px; /* Adjust position for smaller screens */
    left: -20px; /* Adjust position for smaller screens */
  }

  li a:hover::before,
  li a:focus::before {
    top: 0px; /* Adjust position for smaller screens */
    font-size: 2rem; /* Adjust font size for smaller screens */
    left: 18px;
  }
}
